:root {
  --primary-background-color: #ffffff;
  --secondary-background-color: #2e2f42;
  --third-backgrround-color: #f4f4fd;
  --primary-text-color: #434455;
  --second-text-color: #2e2f42;
  --third-text-color: #f4f4fd;
  --left-logo-color: #4d5ae5;
}
body {
  background-color: var(--primary-background-color);
  font-family: "Roboto", sans-serif;
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.02em;
}
.list {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
}
.link {
  text-decoration: none;
}
.title {
  color: var(--second-text-color);
  letter-spacing: 0.02em;
}
.text {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.5;
}
.header-page {
  border-bottom: 1px solid #e7e9fc;
}
.header-logo {
  margin-right: 76px;
 } 


.header-logo,
.foter-logoo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--left-logo-color);
}
.logo-span {
  color: #2e2f42;
}
.footer-span {
  color: var(--third-text-color);
}
.menu-list {
  list-style: none;
  display: flex;
  gap: 40px;
}
.menu-link:hover,
.menu-link:focus {
  color: #404bbf;
}
.menu-link {
  padding-top: 24px;
  padding-bottom: 24px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.header-nav:hover {
  color: #404bbf;
}
.header-nav {
  text-decoration: none;
  display: flex;
  align-items: center;
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1158px;
  /* background-color: aqua; */
}
.nav-container {
  display: flex;
}
.nav-container
.menu-item {
  
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
}

.header-address {
  
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.header-address-list {
  display: flex;
  gap: 40px;
}
.link-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.link-text:hover,
.link-text:focus {
  color: #404bbf;
}
/* Hero */
.hero {
  background-color: var(--secondary-background-color);
  
}
.hero-container {
  text-align: center;
  padding-top: 188px;
  padding-bottom: 188px;
  
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  max-width: 496px;
  letter-spacing: 0.02em;
  color: var(--primary-background-color);
  margin-top: 0;
  margin-bottom: 48px;
}
.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

.hero-button {
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #ffffff;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  cursor: pointer;
  
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.title {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
  margin: 0;
}
.text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  margin: 0;
}
.about-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--second-text-color);
}
.employee {
  background: var(--third-backgrround-color);
}
.employee-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--second-text-color);
}
.employee-list {
  /* background-color: var(--third-backgrround-color); */
}
.employee-item {
  background-color: var(--primary-background-color);
}
.footer {
  background-color: var(--secondary-background-color);
}
.footer-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  margin-top: 0;
  margin-bottom: 0;
}
/* portfolio styles */
.portfolio-btn:hover,
.portfolio-btn:focus {
  color: #ffffff;
  background-color: #404bbf;
}
.portfolio-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--left-logo-color);
  background-color: var(--third-backgrround-color);
  cursor: pointer;
}
